{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
  <h2 style="text-align: center;"><u>NEIGHBOURHOODS</u></h2>
  <br><br>
  <div class="row">
    {% for hood in neighbourhood %}
    <div class="col-md-4" style="padding-bottom: 5%;">
      <img src="{{hood.picture.url}}" alt="image" class="img-responsive" style="height: 300px; width:350px;">
      <h3>{{hood.name}}</h3>
      <h3>{{hood.location}}</h3>
      <button class="btn btn-default" ><a href="{% url 'join' hood.id %}" style="color: black;">Join Neighbourhood</a></button>
    </div>
    {% empty %}
    {% endfor %}
  </div>
</div>
{% endblock %}