{%extends 'base.html'%}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Post</title>
  {{form.media}}
</head>

<body>
  {% block content %}
  <div class="container">
    <div style="text-align: center;">
      <h3><u>{{neighbourhood.name}}</u></h3><br>
      <img src="{{neighbourhood.picture.url}}" alt="image" style="height: 340px; width: 510px;">
      <h3>Location: {{neighbourhood.location}}</h3>
      <br><br>
      <button><a href="{%url 'business' neighbourhood.id%}">Add Business</a></button>
      <button><a href="{% url 'post' neighbourhood.id %}">Add Post</a></button>
    </div>
    <br><br>
    <h2 style="text-align: center;"><u>POSTS</u></h2>
    <br><br>
    <h2 style="text-align: center;"><u>BUSINESSES</u></h2>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
  </div>
  {% endblock %}
</body>

</html>